$mobilenav_w:250px;
#mobile_nav {display:none;}

@media only screen and (max-width: $small_breakpoint){
	#nav_outer { 
		display:none;	
	}
	#mobile_nav { 
		display:block;
		position:fixed;
		width:$mobilenav_w;
		height:50px;
		z-index:5000;
		top:0;
		right:0;
	}
	#mobile_nav_inner {
		padding:5px;
	}
	#mobile_nav_hamburger { 
		display:block;
		position:absolute;
		top:3px;
		right:5px;
		z-index:2;
	}
	.hamburger-inner, 
	.hamburger-inner::after, 
	.hamburger-inner::before {
		background-color:$orange;
	}
	
	#mobile_nav_overlay { 
		background-color:#fff;
		width:$mobilenav_w;
		position:absolute;
		top:0;
		right:0;
		@include transition_all();
	}
	#mobile_nav_overlay.hidden { 
		right:-$mobilenav_w;
	}
	
	#mobile_nav_overlay ul { 
		margin-top:52px;
		
	}
	#mobile_nav_overlay li {
		border-top:1px solid #000;
		padding:14px 20px 10px 20px;
		list-style: none;
		background-color:#fff;
		color:$orange;
		font-family: 'Conv_Berthold Akzidenz Grotesk Bold',sans-serif;
		font-size:22px;
		line-height:25px;
		@include transition_color();
	}
	#mobile_nav_overlay a, 
	#mobile_nav_overlay span { 
		text-decoration: none;
		cursor:pointer;
	}
	#mobile_nav_overlay li.active,
	#mobile_nav_overlay li:hover { 
		background-color:$orange;
		color:#000;
	}
}
