{# <div id="mobile_nav"><div id="mobile_nav_inner">
    <div id="mobile_nav_hamburger">
        <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
        </button>
    </div>
    <div id="mobile_nav_overlay" class="hidden">
        {{craft.olivemenus.getMenuHTML('nav',{ 'menu-class': 'site-menu-mobile' })}}
    </div>
</div></div> #}