<div id="popup">
    <div id="popup_scrim"></div>
    <div id="popup-content"><div id="popup-content-inner">
        <div class="nano" >
            <div class="nano-content"><div class="nano-content_inner" id="popup-hook"></div></div>
            <div class="nano-pane"><div class="nano-slider"></div></div>
        </div>
    </div></div>
    <div id="popup-x">
        <i class="material-icons">&#xE888;</i>
    </div>
</div>