$small_breakpoint:800px;
$mobile_nav_breakpoint:950px;

$gutter:40px;
$gutter_2x:80px;
$gutter_4x:160px;

$green:#17817e;
$orange: #E23C25;
$light:#afadab;
$dark:#2a231f;
$lightorange:#FF8A8A;
$lightgreen:#8bc0be;


$maincolor:$orange;
$mainhover:#fff;
