<div class="main-section">
        <div class="main-content custom-container">
        {% for aentry in craft.entries.section('aboutList').all() %}
            <div class="widget">
                <div class="widget-img">
                <img src="{{aentry.image.one().getUrl('w1000')}}"/>
                </div>
                <div class="widget-content">
                    <h3 class="widget-title blue">
                        <span style="color:#4D8BAA !important;font-size: 45px;">{{aentry.imageOverlayTitle}}</span>
                    </h3>
                    <strong>{{aentry.position}}</strong>
                    <div class="widget-details">
                    {{aentry.description}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>