<div class="pillar-list custom-container">
{% for tentry in craft.entries.section('grantees').all() %}
        <div class="pillar-widget">
            <div class="pillar_image">
            <img src="{{tentry.grantImage.one().getUrl('w1000')}}"/>
            </div>
            <div class="pillar-widget-content">
                <a href="#" class="orange">
                    <img src="img/Group 202.png">
                    <span>ABC Partners</span>
                </a>
                <h6>$20,000 in 2023 | Funded since 2019 | Education – Related Funding Pillar</h6>
                <p>This group of experienced policy consultants, funders, and advocates work together to build an
                    equitable, sustainable early-learning system. SFF supports their advocacy with legislators and their
                    outreach to families who are eligible for Washington’s early childhood education benefits outreach
                    to families who are eligible for Washington’s early childhood education benefits.</p>
            </div>
        </div>
    {% endfor %}
    </div>