<div class="cb">
    <div class="cb-left">
        <span section="col2" val="{{ yearValue }}" class="cb-square cb-square-other"></span>
    </div>
    <div class="cb-right">
        <span class="cb-value">{{ yearLabel }}</span>
    </div>
</div>