<div id="main" class="inner-body main">
    <div class="update-information custom-container">
        <h3><span>{{ entry.title }}</span></h3>
        <h6>Updated {{ entry.dateUpdated|date('F j, Y') }}</h6>
        <div class="update-information-content">
            {{ entry.body }}
        </div>
    </div>
</div>