{% extends "_layout" %}

{% block content %}
{% set pillars_section='home' %}


<div class="main-section">
    <div class="main-content custom-container"> 

    {{ include('snippets/FundingPillar.twig') }}
    
        <!-- Grants by Invitation Only Text-->
        <div class="invitation-content">
            <h3>Grants by Invitation Only</h3>
            <p>We currently make grants by invitation only and are not accepting Letters of Inquiry at this time. We
                work closely with our community partners and advisors to identify organizations who are aligned with
                our funding priorities.</p>
        </div>
        <button class="common-btn light-blue-btn">
            MEET OUR CURRENT GRANTEE PARTNERS <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>

{{ include('snippets/quotes.twig') }}
{% endblock %}